<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>To Do List</title>
    <link href="css/styles.css" rel="stylesheet">
  </head>
  <body>

  <div class='box' id='heading'>
    <h1><%= kindOfDay %></h1>
  </div>

  <div class='box'>
  <% newItems.forEach(item => { %>
    <div class='item'>
      <input type='checkbox'>
      <p><%= item%></p>
    </div>
    <% }) %>

    <form class='item' action='/' method='POST'>
      <input type="text" name="newItem" placeholder='New Item' autocomplete='off'>
      <button class='' type="submit">+</button>
    </form>
  </div>

  </body>
</html>